<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Kinetica"
        android:allowBackup="true"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="33">

        <service
            android:name=".ime.KineticaIME"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_title"
            android:exported="true" />

        <activity
            android:name=".settings.ChordSettingsActivity"
            android:label="@string/chord_settings_title"
            android:exported="false" />

        <activity
            android:name=".settings.EdgeSwipeSettingsActivity"
            android:label="@string/edge_swipe_settings_title"
            android:exported="false" />

        <activity
            android:name=".settings.ExpansionSettingsActivity"
            android:label="@string/expansion_settings_title"
            android:exported="false" />

        <activity
            android:name=".settings.ShortcutSetActivity"
            android:exported="false" />

        <activity
            android:name=".settings.DictionarySettingsActivity"
            android:label="@string/dict_settings_title"
            android:exported="false" />

        <activity
            android:name=".settings.BackupSettingsActivity"
            android:label="@string/backup_settings_title"
            android:exported="false" />

        <activity
            android:name=".onboarding.TutorActivity"
            android:label="@string/tutor_title"
            android:exported="false" />

        <activity
            android:name=".settings.LicensesActivity"
            android:label="@string/licenses_title"
            android:exported="false" />

        <activity
            android:name=".settings.ContributeActivity"
            android:label="@string/contribute_title"
            android:exported="false" />

        <activity
            android:name=".onboarding.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
